@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@font-face { 
  font-family: Didot;
  src: url(../fonts/didot.ttf);
}
@font-face { 
  font-family: RissaTypeface;
  src: url(../fonts/RissaTypeface.otf);
}
@font-face { 
  font-family: Banaue-Regular;
  src: url(../fonts/Banaue-Regular.otf);
}
@font-face { 
  font-family: HaloHandletter;
  src: url(../fonts/HaloHandletter.otf);
}
@font-face { 
  font-family: Adamas-Regular;
  src: url(../fonts/Adamas-Regular.otf);
}
@font-face { 
  font-family: parleybold;
  src: url(../fonts/parleybold.ttf);
}
html {
  width: 100%;
  height: 100%;
  background: white;
  overflow-x: scroll;
}
body {
  width: 100%;
  height: 100%;
  background: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}
.navbar-brand {
  font-family: HaloHandLetter;
  text-transform: lowercase;
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 40px;
}
.header-image {
  display: table;
  background-color: #FE5869;
}
.top-section {
  margin-top: 80px;
  display: table;
  width: 100%;
  height: 100%;
  color: white;
  background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.container1 {
  vertical-align: bottom;
  position: fixed;
  text-align: center;
  bottom: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden; 
}
img {
  margin: 0 auto;
  left: 50%;
  height: 100%;  
  width: 100%;
  margin: 0 auto;
  min-height: 389px;
  min-width: 400px;
  max-height: 663px;
  max-width: 683px;
  overflow-x: hidden;
  overflow-y: hidden;
}
h1 {
  font-family: parleybold;
  color: black;
  font-weight: bold;
  text-align: left;
  position: fixed;
  bottom: 180px;
  padding-left: 60px;
  width: 100%;
  margin: 0 auto;
  font-size: 50px;
  background: transparent;
/*  background: rgba(255,255,255,0.8);
*/}
h3 {
  font-family: parleybold;
  color: black;
  font-weight: bold;
  text-align: right;
  position: fixed;
  bottom: 50px;
  padding-right: 60px;
  width: 100%;
  margin: 0 auto;
  font-size: 50px;
  background: transparent;
/*  background: rgba(255,255,255,0.8);
*/}
.containerleft {
  vertical-align: bottom;
  padding-right: 80px;
  position: fixed;
  text-align: left;
  bottom: 80px;
  top: 80px;
  width: relative;
  height: 100%;
  margin-right: 50%;
  overflow: auto; 
}
.containerright {
  vertical-align: bottom;
  padding-left: 80px;
  position: fixed;
  text-align: right;
  bottom: 80px;
  top: 80px;
  width: relative;
  height: 100%;
  margin-left: 50%;
  overflow: auto; 
}
h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: black;
  background: rgba(255,255,255,0.8);
}
/*-------------------------------underline-----------------------------*/
@media (min-width: 768px) {
  #underlinethis {
  border-bottom: 3px solid #656565;
  padding-bottom: 7px;
  }
}
/*-------------------------------ABOUT ME-----------------------------*/
.aboutme-writing {
  background: transparent;
}
.writing {
  padding-top: 100px;
  padding-bottom: 100px;
}
.lead {
  text-align: right;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
  letter-spacing: 1px;
  color: #3C3C3C;
  background-color: transparent;
  border-color: transparent;
}
/*-------------------------------FOOTER-----------------------------*/
footer {
  text-align: right;
  font-size: 8px;
  letter-spacing: 1px;
  color: #656565;
  background-color: transparent;
  border-color: transparent;
  position: relative;
  margin-top: -61px;
  height: 61px;
  clear: both;
}
.fa-fw.fa-3x {
  font-size: 18px;
  color: #656565;
}
.fa-3x:hover,
.fa-3x:focus,
.fa-3x:active {
  color: #EDED6F;
}
/*-------------------------------CARD CONT-----------------------------*/
.card-container {
  height: 100px;
  position: relative;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.card .back {
  transform: rotateY(180deg);
}





/*-------------------------------HORIZONTAL SCROLL-----------------------------*/

