@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@font-face { 
  font-family: Didot;
  src: url(../fonts/didot.ttf);
}
@font-face { 
  font-family: RissaTypeface;
  src: url(../fonts/RissaTypeface.otf);
}
@font-face { 
  font-family: Banaue-Regular;
  src: url(../fonts/Banaue-Regular.otf);
}
@font-face { 
  font-family: HaloHandletter;
  src: url(../fonts/HaloHandletter.otf);
}
@font-face { 
  font-family: Druchilla;
  src: url(../fonts/Druchilla.otf);
}
html {
  width: 100%;
  height: 100%;
  background: white;
  overflow-x: scroll;
}
body {
  width: 100%;
  height: 100%;
  background: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}
.navbar-brand {
  font-family: Druchilla;
  text-transform: lowercase;
  letter-spacing: 0px;
  font-weight: 150;
  font-style: bold;
  font-size: 110px;
}
.header-image {
  display: table;
  background-color: #FE5869;
}
.top-section {
  margin-top: 80px;
  display: table;
  width: 100%;
  height: 100%;
  color: white;
  background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.container1 {
  vertical-align: bottom;
/*  padding-left: 40px;
  padding-top: 0 auto;
  padding-bottom: 0 auto;*/
  position: fixed;
  text-align: center;
  bottom: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden; 
}
img {
  margin: 0 auto;
  left: 50%;
  height: 100%;  
  width: 100%;
  margin: 0 auto;
  min-height: 389px;
  min-width: 400px;
/*  max-height: 850px;
  max-width: 1053px;*/
  max-height: 663px;
  max-width: 683px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.headline {
  padding-top: 0px;
}
.headline h1 {
  font-size: 130px;
  color: #656565;
  background: #fff;
  background: rgba(255,255,255,0.8);
}
.headline h2 {
  font-size: 77px;
  color: #656565;
  background: #fff;
  background: rgba(255,255,255,0.8);
}
